@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Menentukan berat font semibold */
  font-style: normal;
}

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400; /* Poppins Regular */
  font-style: normal;
}

body {
  @apply bg-gray-100 font-sans;
  font-family: 'Poppins'; /* Menambahkan font Poppins ke seluruh body */
}

/* Sembunyikan scrollbar di Chrome, Edge, Safari */
.w-full::-webkit-scrollbar {
  display: none; /* Menyembunyikan scrollbar */
}

/* Sembunyikan scrollbar di Firefox */
.w-full {
  scrollbar-width: none; /* Menyembunyikan scrollbar */
}

/* Pastikan tidak ada latar belakang yang terlihat */
.w-full::-webkit-scrollbar-track {
  background: transparent;
}
