@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for color scheme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Font setup */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/fonts/Alexandria/Alexandria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alata';
  src: url('/fonts/Alata/Alata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* Body styling */
body {
  @apply bg-white font-sans; /* Mengubah background menjadi putih */
  font-family: 'Poppins';
}

/* Hide scrollbar in Chrome, Edge, Safari */
.w-full::-webkit-scrollbar {
  display: none;
}

.w-full {
  scrollbar-width: none;
}

.w-full::-webkit-scrollbar-track {
  background: transparent;
}
